<mat-form-field>
  <mat-label>Choose specialization</mat-label>
  <mat-select #spec (selectionChange)="showAppointments(spec.value, local.value)">
    <mat-option *ngFor="let s of specs" value="{{s}}">{{s}}</mat-option>
  </mat-select>
</mat-form-field> 

<span class="margin"></span>

<mat-form-field>
  <mat-label>Choose location</mat-label>
  <mat-select #local (selectionChange)="showAppointments(spec.value, local.value)">
    <mat-option *ngFor="let l of locals" value="{{l.city}}">{{l.city}}</mat-option>
  </mat-select>
</mat-form-field> 

<agm-map *ngIf="mapPlaces" [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let p of mapPlaces" 
              [latitude]="p.lat | number" 
              [longitude]="p.long | number">
    <agm-info-window>
      <h3>{{p.place}}</h3>
      <p><strong>Available date:</strong> {{p.date | date:'medium'}}</p>
      <p>{{p.address}}<br />{{p.city}}</p>
      <p><strong>Phone:</strong> {{p.phone}}</p>
      <button mat-raised-button color="primary" (click)="bookAppointment(p)">Book this appointment</button>
    </agm-info-window>
  </agm-marker>
</agm-map>